#cookie{
    color:red;
    float:right;
}

#header a{
    color:#6b7185;
    margin: 3px;
    padding-top: 2px;
}

#header{
    background-color:#b4bcdb;
    margin:0px;
    padding: 2px;
}

body{
    padding-top: 0px;
    margin-top: 0px;
}