#cookie{
    color:red;
    float:right;
}

#header a{
    color:#6b7185;
    margin: 3px;
    margin-left:0px;
    padding: 10px;
}

#header a:hover{
    background-color:grey;
    color:white;
}

#header{
      border-bottom: 1px solid grey;
    margin:0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:0px;
}

body{
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
